.dashboard-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-card{
    width: 70vw;
    height: 500px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow-y: hidden;
}

.question{
    width: 100%;
    height: 70px;
    /* background-color: green; */
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.question-card-text{
    font-size: 20px;
    padding: 10px 10px;
    width: 150px;
    height: auto;
    /* background-color: crimson; */
}

.question-card-input{
    width: 400px;
    height: 35px;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}
input{
    margin-top: -1px;
}

.correct-option-content{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    /* background-color: orange; */
}

.correct-option-input{
    width: 150px;
    height: 50px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}

.radio-input{
    width: 20px;
    margin-top: 5px;
}

.num-text{
    font-size: 18px;
    color: rgb(48, 0, 92)
}

.submit-section-box{
    width: 100%;
    height: 50px;
    background-color: rgb(8, 68, 156);
    margin-bottom: -4px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.add-question{
    margin-right: 20px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 100px;
    font: 22px;
    cursor: pointer;
}